/* COMMUN */

* {
	border-radius: 1px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
	outline: none;
	font-size: 14px;
	/*color: white;*/
}


/* FENETRE */

#paysage {
	color: white;
	background-image: url("../../img/paysage.jpg");
	background-position: center;
	background-size: cover;
}

#foret {
	color: white;
	background-image: url("../../img/foret.jpeg");
	background-position: center;
	background-size: cover;
}

#arbre {
	color: white;
	background-image: url("../../img/arbre.jpg");
	background-position: center;
	background-size: cover;
}

#nuit {
	color: white;
	background-image: url("../../img/nuit.jpg");
	background-position: center;
	background-size: cover;
}

messagedialog {
	color: white;
	background: rgba(45,45,45, 1);
}

#popup {
	color: white;
	background: rgba(45,45,45, 1);
}


/* MENUBAR */

menubar {
	background: rgba(64,64,64, 0.5);
}

window {
	background: rgba(64,64,64, 0.5);
}

menu {
	background: rgba(64,64,64, 0.5);
}

menuitem:hover {
	background: rgba(154,184,124, 0.5);
}


/* BOUTON */

button {
	color: white;
	padding: 5px;
	background: rgba(64,64,64, 0.5);
}

button:hover {
	background: rgba(82,82,82, 0.5);
}

button:active {
	background: rgba(154,184,124, 0.5);
}

#btnNbTente {
	font-weight: bold;
}

#radioCredit {
	background-image: url("../../img/star.png");
	background-repeat: no-repeat;
	background-position: 75% 100%;
}


/* LABEL */

label {
	color: white;
}

#lblTitre {
	font-weight: bold;
	font-size: 18px;
	text-shadow: 1px 0 0 rgba(64,64,64, 0.5),
				-1px 0 0 rgba(64,64,64, 0.5),
				0 1px 0 rgba(64,64,64, 0.5),
				0 -1px 0 rgba(64,64,64, 0.5),
				1px 1px rgba(64,64,64, 0.5),
				-1px -1px 0 rgba(64,64,64, 0.5),
				1px -1px 0 rgba(64,64,64, 0.5),
				-1px 1px 0 rgba(64,64,64, 0.5);
}

#lblSousTitre {
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 0 0 rgba(64,64,64, 0.5),
				-1px 0 0 rgba(64,64,64, 0.5),
				0 1px 0 rgba(64,64,64, 0.5),
				0 -1px 0 rgba(64,64,64, 0.5),
				1px 1px rgba(64,64,64, 0.5),
				-1px -1px 0 rgba(64,64,64, 0.5),
				1px -1px 0 rgba(64,64,64, 0.5),
				-1px 1px 0 rgba(64,64,64, 0.5);
}

#lblInfo {
	background: rgba(64,64,64, 0.5);
}

#lblCredit {
	background: rgba(64,64,64, 0.5);
	background-image: url("../../img/star.png");
	background-repeat: no-repeat;
	background-position: 80% 100%;
}

entry {
	color: white;
	background: rgba(64,64,64, 0.5);
}


/* TREEVIEW */

treeview {
	color: white;
	background: rgba(64,64,64, 0.5);
}

treeview:selected {
	background: rgba(154,184,124, 0.5);
}

#profil {
	margin-left: 200px;
	margin-right: 200px;
}